body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1f1f1f;
    overflow-x: hidden;
    padding-top: 30vh;
    text-align: center;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-right: 320px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 150px;}
    .sidenav a {font-size: 18px;}
}

canvas {
    margin: 0;
    padding: 0;
}
#mycanvas {
    border: 0px solid black;
    margin: 0px;
    width: 80vw;
}
