<footer id="footer1">
<div class="container">
<div class="row">
    <div class="col-sm-3">
        <strong id="footer-header">Enlaces</strong><br>
        <a href="guitarras.php">Guitarras</a><br>
        <a href="bajos.php">Bajos</a><br>
        <a href="loader.php">Taller Custom</a><br>
        <a href="">Galeria</a><br>
        <a href="">Artistas</a><br>
    </div>
    <div class="col-sm-3">
        <strong id="footer-header">Direccion</strong><br>
        1234 Street name <br>
        Pamplona, CP 31300 <br>
    </div>
    <div class="col-sm-3">
        <strong id="footer-header">Contacto</strong><br>
        Email: xxxxxx@xxx.com <br>
        Telefono: 666 666 666 <br>
        Fax: 666 666 666 <br>
    </div>
    <div class="col-sm-3">
        <strong id="footer-header">Como llegar</strong><br>
        <iframe id="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11966.051337605408!2d-1.6410019909056268!3d42.80080512629015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5093b30d546e2d%3A0xd9a9e86617c6be7b!2sUPNA+-+Universidad+P%C3%BAblica+de+Navarra!5e0!3m2!1ses!2ses!4v1517079009713" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>


<!--<table style="width:100%">
    <tr>
        <td><strong id="footer-header">Enlaces</strong></td>
        <td><strong id="footer-header">Direccion</strong></td>
        <td><strong id="footer-header">Contacto</strong></td>
        <td><strong id="footer-header">Como llegar</strong></td>   
    </tr>
    <tr>
        <td><a href="guitarras.php">Guitarras</a></td>
        <td>1234 Street name</td>
        <td>Email: xxxxxx@xxx.com</td>
    </tr>
    <tr>
        <td><a href="bajos.php">Bajos</a></td>
        <td>Pamplona, CP 31300</td>
        <td>Telefono: 666 666 666</td>
    </tr>
    <tr>
        <td><a href="loader.php">Taller Custom</a></td>
        <td>Fax: 666 666 666</td>
    </tr>
    <tr>
        <td><a href="">Galeria</a></td>
    </tr>
    <tr>
        <td><a href="">Artistas</a></td>
    </tr>
</table>-->
<!--<iframe id="mymapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11966.051337605408!2d-1.6410019909056268!3d42.80080512629015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5093b30d546e2d%3A0xd9a9e86617c6be7b!2sUPNA+-+Universidad+P%C3%BAblica+de+Navarra!5e0!3m2!1ses!2ses!4v1517079009713" width="300" height="225" frameborder="0" style="border:0" allowfullscreen></iframe>-->
</div>
</footer>